body {
    background: linear-gradient(hsl(0,0%,80%) 50%, hsl(0,0%,10%) 50%);
    background-attachment: fixed;
    cursor: default;
}

strong {
    font-weight: bold;
}

section {
    padding: 40px 20px;
}

.container {
    padding: 0;
}

#menu {
    padding-top: calc(13vh + 5px);
}

.menu-item {
    margin-bottom: -2vh !important;
}

.part1 {
    min-height: 100vh;
    background: hsl(0,0%,80%);
}

.part2 {
    background: hsl(0,0%,10%);
}

.about-typo {
    width: initial;
    color: hsl(0,0%,10%);
}

.about-minititle {
    font-size: 22px;
    font-weight: bold;
}

#about-tools-subtitle {
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 4px;
}

.line-through {
    text-decoration: line-through;
    color: hsl(0,0%,50%);
}

.about-main-left {
    margin: 8vw 3.8vw 0;
}

.about-main-right {
    position: absolute;
    margin-top: calc(100vh - 580px);
    margin-bottom: 0;
    right: 48px;
}

.about-main-right * {
    text-align: right;
}

.about-main-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#about-title {
    font-size: 56px;
    font-weight: bold;
}

#about-subtitle {
    font-size: 32px;
    letter-spacing: -.5px;
}

#about-body {
    font-size: 22px;
    letter-spacing: -.5px;
    margin-top: 40px;
    margin-bottom: 100px;
}


.about-tools-body {
    margin: 0;
}

.exp-section .row {
    margin-bottom: 36px;
}

.about-exp-title, .about-exp-subtitle {
    padding-left: 20px;
}

.about-exp-title {
    font-weight: bold;
    color: hsl(0,0%,80%);
}

.about-exp-subtitle {
    color: hsl(0,0%,80%);
    display: block;
    padding-bottom: 24px;
}

.exp-item {
    opacity: .4;
    transition: opacity .5s ease;
    text-align: center;
}

.exp-item:hover {
    opacity: 1;
}

.about-exp-img {
    width: 130px;
    height: 120px;
}

.about-exp-text {
    font-family: 'Neuzeit', sans-serif;
    font-size: 16px;
    text-align: center;
    color: hsl(0,0%,10%);
    transition: color .5s ease;
    margin-bottom: 0;
}

.period {
    font-size: 10px;
    margin: 0;
}

.place {
    font-size: 14px;
    margin: 0;
}


.exp-item:hover .about-exp-text {
    color: hsl(0,0%,80%);
}

.exp-item:hover .period, .exp-item:hover .place {
    color: hsl(0,0%,40%);
}


@media (max-width: 991px) {
    .about-main-left {
        margin: 0;
        margin-top: 20px;
    }

    .about-main-right {
        position: relative;
        margin-top: 0;
        margin-left: 50px;
    }

    .about-main-right * {
        text-align: left;
        padding: 0;
    }

    #about-tools-subtitle {
        margin-top: 0;
    }

    .about-main-right li, #about-tools-title, #about-tools-subtitle {
        display: table;
    }

    .about-minititle {
        margin-top: 0;
    }

    #about-title {
        font-size: 6.5vw;
    }

    #about-subtitle {
        font-size: 4.5vw;
    }

    #about-body {
        font-size: 3.2vw;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .skills-wrapper {
        margin-bottom: 20px;
    }

    .tools-box {
        display: inline-table;
        margin-right: 5vw;
        margin-bottom: 40px;
    }

    .exp-item {
        margin-bottom: 20px;
    }

    .about-exp-title, .about-exp-subtitle {
        padding-left: 0;
    }
}


@media (min-width: 1500px) {
    .container {
        max-width: 1440px;
    }
}