body {
    background: hsl(0,0%,10%);
    background-attachment: fixed;
    cursor: default;
}

strong {
    font-weight: bold;
}

.menu-item {
    margin-top: -3vh;
}

.inner {
    display: flex;
}

.contact-typo {
    font-family: 'Neuzeit', sans-serif;
    font-weight: normal;
    margin: 10px 0;
    color: hsl(0,0%,80%);
}

.contact-typo a {
    letter-spacing: -2px;
    text-decoration: none;
    color: #00aa00;
}

.contact-main {
    margin: auto 0;
    padding: 0;
}

.learn-more {
    width: 256px;
    height: 68px;
}


@media only screen and (max-width: 640px) {
    #resume-list-item {
        display: none;
    }
}