body {
    background: hsl(0,0%,80%) 50%;
    background-attachment: fixed;
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row > .projects-wrapper {
    margin: 0 auto;
    margin-top: 8vw;
}

strong {
    font-weight: bold;
}

.container {
    padding: 0;
}

.menu-item {
    margin-top: -3vh;
}

.projects-typo {
    color: hsl(0,0%,10%);
}

.line-through {
    text-decoration: line-through;
    color: hsl(0,0%,50%);
}

#projects-title {
    font-size: 56px;
    font-weight: bold;
}

#projects-subtitle {
    font-size: 32px;
    letter-spacing: -.5px;
}

#github-link {
    font-weight: 700;
    color: hsl(0,0%,10%);
    text-decoration: none;
}


.project-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.project-item, .project-item-disabled {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
    width: 48%;
    min-width: 300px;
    padding: 18px;
    border-radius: 10px;
    background: linear-gradient(150deg, rgba(0,15,0,1), rgba(0,40,0,1));
    color: hsl(0,0%,90%);
    box-shadow: 0px 0px 10px #333333;
    margin-bottom: 40px;
    transition: all ease .2s;
    color: hsl(0,0%,90%);
}

.project-item-disabled {
    cursor: not-allowed;
    opacity: .5;
}

.project-item-description {
    display: flex;
    flex-direction: column;
    color: hsl(0,0%,90%);
}

.project-item-desc-main, .project-item-desc-sub {
    margin: 0;
}

.project-item:hover .project-item-desc-main {
    color: hsl(0,0%,90%);
}

.project-item-desc-sub {
    color: hsl(0,0%,60%);
    font-size: 12px;
}

.project-empty-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 48%;
    min-width: 300px;
    padding: 18px;
    color: hsl(0,0%,10%);
    margin-bottom: 40px;
    text-align: center;
    font-size: 24px;
}

.project-item * {
    cursor: pointer;
}

.project-item-disabled * {
    cursor: not-allowed;
}

.project-item-disabled:hover {
    text-decoration: none;
}

.project-item:hover {
    transform: scale(1.02);
    text-decoration: none;
    background: linear-gradient(150deg, rgba(0,15,0,1), rgba(0,120,0,1));
}

.project-item > div, .project-item-disabled > div {
    display: flex;
}

.project-item-title {
    font-size: 22px;
    font-weight: bold;
}

.lang {
    height: 20px;
    float: right;
}

#projects-body {
    font-size: 22px;
    letter-spacing: -.5px;
    margin: 30px 0 60px;
}

span {
    font-weight: 700;
}

.task-wrapper, .solution-wrapper {
    margin-bottom: 36px;
}

.task {
    color: hsl(0,0%,30%);
    margin-bottom: 4px;
}

.warning {
    color: #791919;
}

.solution-wrapper img {
    width: 100%;
    margin-bottom: 40px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    margin-bottom: 60px;
}

.iframe-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.code-text {
    color: inherit;
    font-weight: 600;
}

.essay-fig {
    margin-top: 28px !important;
    margin-bottom: 14px !important;
}

.caption {
    text-align: center;
    color: #666666;
    margin-bottom: 48px;
}

.inline-link {
    text-decoration: none;
    font-weight: 600;
}

.inline-link-400 {
    text-decoration: none;
    font-weight: 400;
    color: #666666 !important;
}

.inline-link:hover {
    text-decoration: none;
    font-weight: 600;
}

.inline-link-400:hover {
    text-decoration: none;
    font-weight: 400;
    color: #666666 !important;
}

.ext-link {
    color: #000000;
}
.ext-link:hover {
    color: #000000;
}

.list-header {
    margin: 0;
}

.infoviz-list {
    padding-left: 40px;
}

.infoviz-list li {
    list-style-type: circle;
}

.infoviz-ref-list li {
    font-size: 10px;
    margin-bottom: 4px;
}

.list-header-ref {
    margin-top: 8px !important;
    margin-bottom: 4px !important;
}

.reference-item {
    font-size: 10px;
    margin-bottom: 8px;
}

.essay-fig-wrapper {
    display: flex;
}

.essay-fig-wrapper img {
    min-width: 480px;
    width: 75%;
    max-width: 800px;
    margin: auto;
}


@media (max-width: 991px) {
    #projects-title {
        font-size: 32px;
    }

    #projects-subtitle {
        font-size: 21.4px;
    }

    #projects-body {
        font-size: 19px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .project-item-title {
        margin-top: 0;
        font-size: 22px;
    }

    .tools-box {
        display: inline-table;
        margin-right: 4.3vw;
        margin-bottom: 20px;
    }

    .projects-exp-title {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 0;
    }

    .row > .projects-wrapper {
        margin-top: 50px;
        padding: 0 18px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .project-item {
        width: 100%;
    }

    .project-items-wrapper {
        justify-content: center;
    }
}

@media only screen and (min-width: 1500px) {
    .container {
        max-width: 1440px;
    }
}

@media only screen and (max-width: 640px) {
    #resume-list-item {
        display: none;
    }
}