body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html *::selection {
    background: #99ee99;
}

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}

body {
    margin: 0;
}

svg.mainSVG {
    width: 250px;
    height: 188px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -94px;
    margin-left: -125px;

}

canvas {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

ul {
    padding-left: 0;
}

#email-link {
    width: 20px;
    left: 15px !important;
    top: calc(100vh - 378px) !important;
    height: 245px !important;
}

#email-link a {
    font-family: 'Maison Neue', sans-serif;
    font-weight: 400;
    font-size: 13.8px;
    letter-spacing: -0.6px;
    text-decoration: none;
    color: inherit;
    writing-mode: vertical-rl;
    z-index: 10;
}

.logo-wrapper {
    display: initial;
    top: 40px !important;
    left: 80px !important;
    width: 30px !important;
    height: 26px !important;
    z-index: 10;
}

.hamburger {
    top: 40px !important;
    left: calc(100vw - 100px) !important;
    transform: scale(.8);
    width: 40px;
    height: 30px;
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    z-index: 10;
}

.hamburger-box {
    width: 40px;
    height: 30px;
    display: inline-block;
    position: relative; }

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    margin-top: 1px;
    height: 2.4px;
    border-radius: 2px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
.hamburger-inner::before {
    top: -10px; }
.hamburger-inner::after {
    bottom: -10px; }


/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
    top: 2px; }
.hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
.hamburger--slider .hamburger-inner::after {
    top: 20px; }

.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
.hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
    opacity: 0; }
.hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*
   * Slider Reverse
   */
.hamburger--slider-r .hamburger-inner {
    top: 2px; }
.hamburger--slider-r .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
.hamburger--slider-r .hamburger-inner::after {
    top: 20px; }

.hamburger--slider-r.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(-45deg); }
.hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(5.71429px, -6px, 0);
    opacity: 0; }
.hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(90deg); }


#menu {
    display: none;
    position: fixed;
    text-align: center;
    top: 0;
    width:100%;
    height:100%;
    background-color: #00cc00;
    padding-top: calc(13vh + 5px);
    z-index: 9;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-item a {
    font-family: 'Neuzeit', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    font-size: 11vh;
    background-image: linear-gradient(to bottom, transparent 65%, #00dd00 10%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    -webkit-transition: background-size 0.4s ease;
    -moz-transition: background-size 0.4s ease;
    -ms-transition: background-size 0.4s ease;
    -o-transition: background-size 0.4s ease;
    transition: background-size 0.4s ease;
}

.menu-item a:hover, .menu-item a:focus {
    background-size: 100% 100%;
    cursor: pointer;
}

.menu-item-disabled a {
    background-image: none;
    color: #c3c3c3;
}

.menu-item-disabled a:hover, .menu-item-disabled a:focus {
    cursor: not-allowed;
}

section {
    margin: 0;
}

.panel1 {
    background: hsl(0,0%,80%);
}

.panel2 {
    background: hsl(0,0%,10%);
}

.panel1 .inner,  .panel2 .inner {
    display: flex;
}

.inner {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
}

li, span {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-size: 100%;
    font: inherit;
    list-style-type: none;
}

.midnightHeader.default {
    background: none;
    color: hsl(0,0%,100%);
    fill: hsl(0,0%,100%);
}
.midnightHeader.default a, .midnightHeader.default a.active:after {
    color: hsl(0,0%,100%);
}
.midnightHeader.default #logo {
    fill: hsl(0,0%,100%);
}
.midnightHeader.default .hamburger-inner,
.midnightHeader.default .hamburger-inner:before,
.midnightHeader.default .hamburger-inner:after {
    background-color: hsl(0,0%,100%);
}

.midnightHeader.black {
    background: none;
    color: hsl(0,0%,10%);
    fill: hsl(0,0%,10%);
}
.midnightHeader.black a, .midnightHeader.black a.active:after {
    color: hsl(0,0%,10%);
}
.midnightHeader.black #logo {
    fill: hsl(0,0%,10%);
}
.midnightHeader.black .hamburger-inner,
.midnightHeader.black .hamburger-inner:before,
.midnightHeader.black .hamburger-inner:after {
    background-color: hsl(0,0%,10%);
}

.pagination {
    width: 80px;
    right:20px !important;
    left: initial !important;
    top: 50% !important;
    transform: translateY(-50%);
    font-size:1.4em;
    z-index: 8;
}
.pagination a {
    display: block;
    height: 20px;
    margin-bottom: 5px;
    color: inherit;
    position: relative;
    padding: 4px;
}
.pagination a.active:after {
    box-shadow: inset 0 0 0 5px;
}
.pagination a .hover-text {
    font-family: 'Maison Neue', sans-serif;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    text-align: right;
    top: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    width: 100%;
    right: 25px;
}
.pagination a:hover .hover-text {
    opacity: 1;
}
.pagination a:after {
    -webkit-transition:box-shadow 0.5s ease;
    transition:box-shadow 0.5s ease;
    width:10px;
    height:10px;
    display: block;
    border:1px solid;
    border-radius:50%;
    content:'';
    position: absolute;
    margin:auto;
    top:0;
    right:4px;
    bottom:0;
}



#intro {
    width: 1000px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h3 {
    width: 100%;
    font-family: 'Maison Neue';
    font-weight: 500;
    color: #eeeeee;
    margin: 0;
    font-size: 21px;
    line-height: normal;
    text-align: left;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    cursor: default;
}

#title:after {
    content: "_";
    margin-left: -5px;
}

.clearfix {
    position: relative;
    width: 100%;
    margin: 0;
    padding-left: 100px;
    white-space: nowrap;
    line-height: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#menu ul {
    margin-top: 1.5vh !important;
    list-style: none;
    margin: 0;
    padding: 0;
}

#first, #last {
    z-index: 0;
    height: 105px;
    font-family: 'Maison Neue';
    font-weight: 600;
    color: #eeeeee;
    font-size: 92px;
    line-height: 110px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    cursor: default;
}

#first {
    margin-left: 0 !important;
    text-align: left;
}

#first:after {
    content: " ";
}

#last {
    margin-right: 0 !important;
    text-align: right;
}


@keyframes titleOpacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

.clearfix {
    opacity: 0;
    height: 105px;
    animation-name: titleOpacity;
    animation-delay: 5.8s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 5.8s;
    -webkit-animation-duration: .2s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%
    }

    15% {
        opacity: 1;
        top: 50%
    }

    50% {
        opacity: 0;
        top: 50%
    }

    100% {
        opacity: 0;
        top: 29%
    }
}
@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%
    }

    15% {
        opacity: 1;
        top: 50%
    }

    50% {
        opacity: 0;
        top: 50%
    }

    100% {
        opacity: 0;
        top: 29%
    }
}
@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%
    }

    15% {
        opacity: 1;
        top: 50%
    }

    50% {
        opacity: 0;
        top: 50%
    }

    100% {
        opacity: 0;
        top: 29%
    }
}

.mouse {
    z-index: -1;
    position: absolute;
    left: 50%;
    bottom: 80px;
    display: block;
    width: 12px;
    height: 22px;
    margin-left: -6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 6px;
    -webkit-transition: all 1000ms cubic-bezier(0.645, .045, .355, 1);
    -moz-transition: all 1000ms cubic-bezier(0.645, .045, .355, 1);
    transition: all 1000ms cubic-bezier(0.645, .045, .355, 1)
}
.mouse.initial {
    opacity: 0;
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
    transform: translateY(60px)
}
.mouse > * {
    z-index: -1;
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 2px;
    height: 4px;
    margin: -2px 0 0 -1px;
    background: #fff;
    border-radius: 50%;
    -webkit-animation: ani-mouse 1.5s linear infinite;
    -moz-animation: ani-mouse 1.5s linear infinite;
    animation: ani-mouse 1.5s linear infinite;
}

.heart-wrapper {
    text-align: center;
    padding-bottom: 20px;
    user-select: none;
}

.heart-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.heart-text {
    display: inline-block;
    font-size: 12px;
    font-family: 'Neuzeit', sans-serif;
    font-weight: 300;
    color: #f0f0f0;
    vertical-align: middle;
    margin: 0;
}

#heart {
    fill: #ff0000;
    animation: pulse 3s infinite linear;
    vertical-align: middle;
    margin: 0 2px;
}

@keyframes pulse {
    0%{ transform: scale(1);}
    84%{ transform: scale(1); }
    88%{ transform: scale(1.2); }
    92%{ transform: scale(1);}
    96%{ transform: scale(1.2);}
    100%{ transform: scale(1);}
}


.about-typo {
    font-family: 'Neuzeit', sans-serif;
    width: 80vw;
    margin: 10px 0;
    color: hsl(0,0%,10%);
}

.about-wrapper {
    margin: auto;
}

#about-title {
    font-size: 56px;
    font-weight: bold;
}

#about-subtitle {
    font-size: 32px;
    letter-spacing: -.5px;
}

.line-through {
    text-decoration: line-through;
    color: hsl(0,0%,50%);
}

.contact-typo {
    font-family: 'Neuzeit', sans-serif;
    font-weight: normal;
    margin: 10px 0;
    color: hsl(0,0%,80%);
}

.contact-typo a {
    letter-spacing: -2px;
    text-decoration: none;
    color: #00aa00;
}

.contact-main {
    margin: auto 0;
    padding: 0;
}

.contact-body {
    font-size: 36px;
    line-height: 43px;
    margin-top: 40px;
    margin-bottom: 140px;
}

.learn-more {
    font-family: 'Neuzeit', sans-serif;
    font-weight: bold;
    text-decoration: none;
    user-select: none;
    background: none;
    padding: 20px 10px;
    width: 228px;
    display: block;
    margin: 0 auto;
    margin-top: 160px;
    text-align: center;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    -webkit-transition: background-size 0.4s ease, color 0.4s ease;
    -moz-transition: background-size 0.4s ease, color 0.4s ease;
    -ms-transition: background-size 0.4s ease, color 0.4s ease;
    -o-transition: background-size 0.4s ease, color 0.4s ease;
    transition: background-size 0.4s ease, color 0.4s ease;
}
.learn-more:hover, .learn-more:focus {
    background-size: 100% 100%;
    text-decoration: none;
    cursor: pointer;
}
.learn-more-light {
    color: hsl(0,0%,10%);
    border: 4px solid hsl(0,0%,10%);
    background-image: linear-gradient(to bottom, transparent 0%, #0f0f0f 0%);
}
.learn-more-light:hover, .learn-more-light:focus {
    color: hsl(0,0%,80%);
}
.learn-more-dark {
    color: hsl(0,0%,80%);
    border: 4px solid hsl(0,0%,80%);
    background-image: linear-gradient(to bottom, transparent 0%, hsl(0,0%,80%) 0%);
}
.learn-more-dark:hover, .learn-more-dark:focus {
    color: hsl(0,0%,10%);
}

@media only screen and (max-width: 991px) {
    #email-link, .pagination, .mouse {
        display: none;
    }

    .clearfix {
        margin-top: -16px;
        margin-left: -40px;
    }

    #first, #last {
        font-size: 7.7vw;
    }

    #logo {
        height: 30px !important;
    }

    .logo-wrapper {
        display: initial;
        top: 20px !important;
        left: 22px !important;
        height: 30px !important;
        width: 37px !important;
        z-index: 10;
    }

    .hamburger {
        top: 20px !important;
        left: calc(100vw - 62px) !important;
        transform: scale(1);
    }

    .menu-item a:hover {
        background-size: 0;
    }

    #title {
        margin-left: 60px;
    }

    #about-title {
        font-size: 32px;
    }

    #about-subtitle {
        font-size: 21.4px;
    }

    .contact-typo {
        font-size: 21.4px;
        line-height: 130%;
    }

}

@media only screen and (max-width: 640px) {
    #resume-list-item {
        display: none;
    }
}