@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:300,400,700');

/* GENERAL */
body {
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	font-size: 12px;
}

a, a:visited, a:focus, a:active, a:hover {
	color: #333;
	text-decoration: none;
}

#nav-bg {
	display: none;
}

#brand-container img {
	filter: brightness(0);
	width: 140px;
}

button {
	display: none;
}

.nav.navbar-nav li {
	display: none;
}

h1 {
	text-align: center;
	margin-bottom: 50px;
}

p {
	margin-top: 0;
}

/* STRENGTHS */
.row.strengths{
	margin-top: 40px;
    margin-bottom: 40px;
}

.row.strengths img{
	width: 30px;
  filter: brightness(0);
}

.row.strengths p{
	margin-left: 35px;
}

.white-block {
	margin-bottom: 60px;
	padding-left: 60px;
	padding-right: 60px;
	text-align: center;
}

.libbig {
	font-size: 13px;
	margin-top: -30px !important;
	margin-bottom: 5px !important;
}

#libbig-description {
	font-family: Montserrat;
	font-size: 12px;
	font-weight: lighter;
	letter-spacing: -0.92px;
}

.medium-weight{
	white-space: normal;
}

#learn-more {
	display: none;
}

div.row.files-container {
	margin-top: 5px !important;
	margin-bottom: 20px !important;
}

.download-item p {
	margin-top: 10px;
}

.file p {
    margin-top: 5px;
}

.page-title {
	margin-top: 0;
  margin-bottom: 40px;
}

.download-item  {
  text-align: center;
  margin-bottom: 40px;
}

.download-title {
  margin-bottom: 0;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 11px;
  color: #3B3D40 !important;
  letter-spacing: 1.5px;
  transition: all .2s linear;
}

.download-description {
  font-family: PTSerif;
  font-size: 13px;
  color: #656B6F;
  letter-spacing: 0;
}

.links {
	font-weight: 500;
	color: #333333;
	transition: all .2s linear;
}

.file {
	display: inline-block;
}

.file-icon {
	height: 30px;
	padding-left: 25px;
	padding-right: 25px;
	filter: grayscale(100%);
	opacity: .85;
	transition: all .2s linear;
}

.file-description {
	font-family: Montserrat;
	font-size: 11px;
	color: #6B6B6B;
	letter-spacing: -0.92px;
	transition: all .2s linear;
}

/* FOOTER */
#footer-dep br {
	display: none;
}

#footer > .row > div:not(:first-child) {
	display: none;
}

#footer li {
	display: inline-block;
}

p#footer-dep {
	font-size: 10px;
	position: absolute;
	left: 196px;
	margin-top: 25px;
}

ul {
	font-size: 10px;
	position: absolute;
	left: 140px;
	margin-top: 35px;
}

img#footer-logo {
	margin-top: 24px;
	padding-bottom: 5px;
	position: absolute;
	filter: brightness(0);
	height: 42px;
}
