@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:300,400,700');

/* GENERAL */
body {
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	font-size: 12px;
}

a, a:visited, a:focus, a:active, a:hover {
	color: #333;
	text-decoration: none;
}

#nav-bg {
	display: none;
}

#brand-container img {
	filter: brightness(0);
	width: 140px;
}

button {
	display: none;
}

.nav.navbar-nav li {
	display: none;
}

h1 {
	text-align: center;
	margin-bottom: 50px;
}

p {
	margin-top: 0;
}

.page-subtitle {
  margin-top: -50px;
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: 500 !important;
	text-align: center;
	font-weight: bold;
}

.code-frame {
	padding-left: 80px;
	margin-bottom: 30px;
}

#book {
	display: block;
	margin: 0 auto;
	padding-top: 20px;
	margin-bottom: 10px;
	height: 60px;
}

#book-description {
	padding-left: 200px;
	padding-right: 200px;
	font-family: PTSerif;
	font-size: 10px;
	text-align: center;
	margin-bottom: 30px;
}

.description {
	font-size: 12px;
	font-weight: lighter;
	line-height: 18px;
}

#printer {
	display: block;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: -10px;
	height: 175px;
}

#go-back {
	display: none;
}

/* STRENGTHS */
.row.strengths {
	margin-top: 40px;
  margin-bottom: 40px;
}

.row.strengths > div {
	clear: both;
	margin-bottom: 5px;
}

.row.strengths p {
	margin-left: 35px;
}

/* FOOTER */
#footer-dep br {
	display: none;
}

#footer > .row > div:not(:first-child) {
	display: none;
}

#footer li {
	display: inline-block;
}

p#footer-dep {
	font-size: 10px;
	position: absolute;
	left: 196px;
	margin-top: 25px;
}

ul {
	font-size: 10px;
	position: absolute;
	left: 140px;
	margin-top: 35px;
}

img#footer-logo {
	margin-top: 24px;
	padding-bottom: 5px;
	position: absolute;
	filter: brightness(0);
	height: 42px;
}
