@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:300,400,700');

/* GENERAL */
body {
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	font-size: 12px;
}

a, a:visited, a:focus, a:active, a:hover{
	color: #333;
	text-decoration: none;
}

#nav-bg {
	display: none;
}

#brand-container img {
	filter: brightness(0);
	width: 140px;
}

button {
	display: none;
}

h1 {
	text-align: center;
	margin-bottom: 50px;
}

p {
	margin-top: 0;
}

ul {
	font-size: 10px;
	position: absolute;
	left: 140px;
	margin-top: 35px;
}

.nav.navbar-nav li {
	display: none;
}

.project-item {
  text-align: center;
  margin-bottom: 35px;
}

.project-time {
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: -1.38px;
  text-align: center;
}

a.project-title, p.project-title {
  margin-bottom: 1px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 1.5px;
  transition: all .2s linear;
}

.projects-container {
	margin-bottom: 60px;
}

.project-origin {
  margin-bottom: 5px;
  font-family: PTSerif;
  font-size: 10px;
  color: #656B6F;
  letter-spacing: 0;
}

p.not-linked {
  color: #7F7F7F;
  font-weight: 500;
}

/* FOOTER */
#footer-dep br {
	display: none;
}

#footer > .row > div:not(:first-child) {
	display: none;
}

#footer li {
	display: inline-block;
}

p#footer-dep {
	font-size: 10px;
	position: absolute;
	left: 196px;
	margin-top: 25px;
}

img#footer-logo {
	margin-top: 24px;
	padding-bottom: 5px;
	position: absolute;
	filter: brightness(0);
	height: 42px;
}
