.white-block {
	margin-bottom: 25px;
	background-color: #FFFFFF;
	box-shadow: 0 0 25px #888888;
	padding: 50px 0;
	text-align: left;
}

.white-block:hover {
	box-shadow: 0 0 25px #111111;
	transition: all .2s linear;
}

.page-title {
  margin-bottom: 80px;
}

.news-title {
	margin-bottom: 0;
	font-weight: bold;
	font-size: 14px;
	color: #3B3D40;
}

.news-date {
	font-family: PTSerif;
	font-size: 11px;
	display: inline;
}

.date {
	color: #4A4A4A;
}

.news-description {
	margin-top: 17px;
	font-weight: lighter;
	letter-spacing: -0.81px;
}

.links {
	font-weight: 500;
	transition: all .2s linear;
}

.links:hover {
	color: #962009 !important;
}

@media all and (max-width: 767px){

	.links{
		font-weight: lighter;
		color: #962009 !important;
	}

}
