
/* SITEMAP SECTION */

#main-content a{
	margin: 0 auto;
	display: block;
}

#main-content a:hover{
	color: #9D2E18;
}

.flexed{
	display: flex;
	flex-direction: row;
}

.flexed > div > div:not(.line-oriz){
	margin: 0 5px;
}

.page-title{
	margin-bottom: 60px;
}

#main-content div.home-cell > a {
    margin-top: 200px;
}

#main-content .flexed div:nth-child(7) > a{
	margin-top: 350px;
}

.sitemap-cell p{
	font-size: 16px;
	text-align: center;
	margin: 0;
	font-weight: 500;
}

.sitemap-cell::before{
	margin: 0 auto;
	content: "";
	background-image: url(../img/sitemap/curve1.png);
	display: block;
	width: 80px;
	height: 30px;
}

.sitemap-cell::after{
	margin: 0 auto;
	content: "";
	background-image: url(../img/sitemap/curve1.png);
	display: block;
	width: 80px;
	height: 30px;
	transform: scale(-1);
}

@media all and (max-width: 767px){

	#sitemap-wrapper > div{
		text-align: center;
	}

	.flexed{
		display: inline-flex;
	}

	.sitemap-cell p{
		font-size: 14px;
	}

	.sitemap-cell::before,
	.sitemap-cell::after{
		width: 60px;
		height: 23px;
		background-size: contain;
	}

	.line-vert{
		display: block;
	    width: 2px;
	    background: #7f7f7f;
	    margin-top: 33px;
    	height: calc(82px * 6 + -74px);
	}

	.line-oriz{
		width: 20px;
	    height: 2px;
	    background-color: #7f7f7f;
	    margin-top: 64px;
	    margin-left: -2px;
	}

	.line-oriz.one{
		margin-left: 0;
		margin-top: 231px;
		margin-right: -2px;
	}

	.line-oriz.zero{
		margin-top: 33px;
	}

	.line-oriz.five{
		margin-top: 74px;
	}

	.line-oriz.last{
		margin-top: 383px;
	}

}

/*
	DESKTOP
*/
@media all and (min-width: 768px){

	.sitemap-cell:hover p{

	}

	.flexed{
		flex-direction: column;
	}

	.flexed > div:nth-child(5){
		display: flex;
		flex-direction: row;
	}

	.sitemap-cell{
		min-width: 100px;
	}

	div.home-cell > a {
	    margin-top: 0;
	}

	#main-content div.home-cell > a {
	    margin-top: 0;
	}

	#main-content .flexed div:nth-child(7) > a{
		margin-top: 0;
	}

	.home-cell{
		display: flex;
	}

	.flexed > div > div:not(.line-oriz){
		margin: 0 auto;
	}

	.line-oriz{
		display: block;
	    width: 2px;
	    height: 20px;
	    background: #7f7f7f;
	    margin-top: -2px;
	    margin: 0 auto;
	}

	.line-vert{
		width: calc(100% - 162px);
		margin: 0 auto;
	    height: 2px;
	    background-color: #7f7f7f;
	}

	.line-oriz.one{
		margin: 0 auto;
		margin-bottom: -2px;
	}

	.line-oriz-wrapper{
		display: flex;
	    flex-direction: row;
	    width: calc(100% - 1px);
	    margin-left: 1px;
	}

	#main-content div.libbig-cell > a{
		display: inline-block;
	    float: right;
	    margin-right: 17%;
	}

	.line-oriz.last {
	   	margin-top: -20px;
	    margin-left: 78.5%;
	    display: inline-block;
	}

}

@media all and (min-width: 768px) and (max-width: 991px){
	.line-vert {
	    width: calc(100% - 102px);
	}
	#main-content div.libbig-cell > a{
		display: inline-block;
	    float: right;
	    margin-right: 14.5%;
	}
}
@media all and (min-width: 992px) and (max-width: 1199px){
	.line-vert {
	    width: calc(100% - 134px);
	}
	#main-content div.libbig-cell > a{
		display: inline-block;
	    float: right;
	    margin-right: 16%;
	}
}
