.page-subtitle {
  margin-top: 0;
	margin-bottom: 40px;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

.active:hover {
	color: #962009 !important;
}

.item  {
  text-align: center;
  margin-bottom: 70px;
}

#book {
	margin-top: 80px;
	height: 145px;
	width: auto;
}

#book-description {
  margin-top: 20px;
	margin-bottom: 80px;
  font-family: PTSerif;
  font-size: 13px;
  color: #656B6F;
  letter-spacing: 0;
}

.code-frame {
	background: #002206;
	border-radius: 15px;
	font-family: AndaleMono;
	font-weight: 100;
	font-size: 13px;
	color: #005200;
	display: flex;
	letter-spacing: -0.81px;
	line-height: 28px;
	margin-top: 30px;
	margin-bottom: 60px;
	padding: 30px;
	text-align: left;
}

#printer {
	box-shadow: 0 0 25px #888888;
	margin-top: 60px;
	margin-bottom: 80px;
	height: 276px;
	width: auto;
}

#goback-icon {
	margin-top: -2px;
	height: 10px;
}

#go-back {
	margin-top: 60px;
	margin-bottom: 70px !important;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 11px;
	color: #962009;
	letter-spacing: 1.5px;
}


/************

	MOBILE

*************/

@media all and (max-width: 767px){

	.item {
		margin-bottom: 40px;
	}

	.page-subtitle{
		font-size: 16px;
	}

	#printer {
		box-shadow: 0 0 25px #888888;
		margin-top: 60px;
		margin-bottom: 80px;
		height: 226px;
		width: auto;
	}

	#main-content a{
		color: #962009;
	}
}
