.page-title {
  margin-bottom: 46px;
}

.year-block {
  margin-bottom: 100px;
}
.publication-item  {
  text-align: center;
}

.publication-year {
  margin-bottom: 20px;
  font-size: 24px;
  color: #7F7F7F;
  letter-spacing: -1.38px;
  text-align: center;
}

.publication-authors {
  margin-bottom: 4px;
  font-family: Montserrat;
  font-weight: lighter;
  font-size: 13px;
  color: #8C8C8C;
  letter-spacing: -1.04px;
}

.publication-title {
  margin-bottom: 1px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 11px;
  color: #3B3D40;
  letter-spacing: 1.5px;
}

.publication-origin {
  margin-bottom: 5px;
  font-family: PTSerif;
  font-size: 13px;
  color: #656B6F;
  letter-spacing: 0;
}

.publication-links {
  margin-bottom: 40px;
  margin-top: -5px;
}

.publication-links img{
    padding: 0 4.5px;
    margin: 0 auto;
    filter: grayscale(100%);
    opacity: .9;
    transition: all .2s linear;
}

.ext {
  height: 10px;
}

.folder {
  height: 11px;
}

.pdf {
  height: 12px;
}

.ext:hover, .folder:hover, .pdf:hover {
  filter: grayscale(0);
  opacity: 1;
}

#menu{
  text-align: center;
  margin-bottom: 40px;
}

#go-to{
  display: inline-block;
}

#menu form{
  display: inline-block;
}

@media all and (max-width: 767px){

  .publication-links a>img{
    filter: none;
  }

}
