@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:300,400,700');


/* GENERAL */
body {
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	font-size: 12px;
}

a, a:visited, a:focus, a:active, a:hover {
	color: #333;
	text-decoration: none;
}

#nav-bg {
	display: none;
}

#brand-container img {
	filter: brightness(0);
	width: 140px;
}

button {
	display: none;
}

.nav.navbar-nav li {
	display: none;
}

h1 {
	margin-bottom: 50px;
	text-align: center;
}

p {
	margin-top: 0;
}

/* STRENGTHS */
.row.strengths{
	margin-top: 40px;
  margin-bottom: 40px;
}

#main-content a{
	margin: 0 auto;
	display: block;
}

.flexed{
	display: inline-flex;
	flex-direction: row;
}

.flexed > div > div:not(.line-oriz){
	margin: 0 5px;
}

#main-content div.home-cell > a {
    margin-top: 236px;
}

#main-content .flexed div:nth-child(7) > a{
	margin-top: 409px;
}

.sitemap-cell p{
	font-size: 14px;
	text-align: left;
	font-weight: 500;
}

#menu {
	width: 110px;
}

.sitemap-cell::before{
	margin: 0 auto;
	content: "";
	background-image: url(../img/sitemap/curve1.png);
	display: block;
	width: 80px;
	height: 30px;
}

.sitemap-cell::after{
	margin: .2px auto;
	content: "";
	background-image: url(../img/sitemap/curve1.png);
	display: block;
	width: 80px;
	height: 30px;
	transform: scale(-1);
}

#sitemap-wrapper > div{
	text-align: center;
}

.sitemap-cell::before,
.sitemap-cell::after{
	width: 60px;
	height: 23px;
	background-size: contain;
}

.line-vert{
	display: block;
  width: 0;
	border-right: 2px solid black;
  margin-top: 33px;
	height: calc(95.5px * 6 + -85px);
}

.line-oriz{
	width: 30px;
  height: 2px;
  border-top: 2px solid black;
  margin-top: 75px;
  margin-left: -2px;
	margin-right: 20px;
}

div.line-oriz-wrapper {
	margin-top: 2px;
}

.line-oriz.one{
	margin-left: 0;
	margin-top: 268px;
	margin-right: -2px;
}

.line-oriz.zero{
	margin-top: 29px;
}

.line-oriz.five{
	margin-top: 82px;
}

.line-oriz.last{
	margin-top: 440px;
}


/* FOOTER */
#footer-dep br {
	display: none;
}

#footer > .row > div:not(:first-child) {
	display: none;
}

#footer li {
	display: inline-block;
}

p#footer-dep {
	font-size: 10px;
	position: absolute;
	left: 196px;
	margin-top: 25px;
}

ul {
	font-size: 10px;
	position: absolute;
	left: 140px;
	margin-top: 35px;
}

img#footer-logo {
	margin-top: 24px;
	padding-bottom: 5px;
	position: absolute;
	filter: brightness(0);
	height: 42px;
}
